<div class="row">
    <div class="col-md-6">
        <img src="img/2.jpeg" class="img-circle img-responsive" id="about-image"></img>
    </div>
    <div class="col-md-6" id="about">
        <h2>The goal of TickTalk</h2>
        <p>
            The goal of TickTalk was to create an open source web application that features private chatrooms, document sharing and blog commenting.  This is an open source project and this website was to be a base mold for businesses looking to create an intranet of somesort.  
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-3">
        <a href="https://twitter.com/brentaureli" class="btn btn-info btn-block">
            <i class="fa fa-twitter fa-5x"></i>
        </a>
    </div>
    <div class="col-md-2">
        <a href="https://www.facebook.com/brentaureli" class="btn btn-primary btn-block">
            <i class="fa fa-facebook fa-5x"></i>
        </a>
    </div>
    <div class="col-md-2">
        <a href="https://www.youtube.com/c/BrentAureli" class="btn btn-danger btn-block">
            <i class="fa fa-youtube fa-5x"></i>
        </a>
    </div>
</div>